@using Orchard.Utility.Extensions;
@using Orchard.Media.Helpers;
@using Orchard.ContentPicker.Fields;


@{
	//if (Model.Title != null) {
	//    Layout.Title = Model.Title;
	//}

	var fieldPicture = Model.ContentItem.MyLinkedPicture.Picture;
	var fieldLink = Model.ContentItem.MyLinkedPicture.Link;


	var contentTypeClassName = ((string)fieldPicture.DisplayName).HtmlClassify();
	string name = fieldPicture.DisplayName;

	var field = (ContentPickerField) fieldLink;
	var contentItems = field.ContentItems;
	string my_href = "";
	
	if (contentItems.Any())
	{
	  foreach (var contentItem in contentItems)
	  {
		  my_href = @Url.ItemDisplayUrl(contentItem);			
	  }
	}
	
}

<div class="category-list-element-image">
	<a href="@my_href" title="@Model.ContentItem.TitlePart.Title">
	
	
		@if (Html.IsPicture((string)fieldPicture.Url))
		{
				
			<img src="@Url.Content(fieldPicture.Url)"
				@if (!String.IsNullOrWhiteSpace(fieldPicture.Class))
				{
					<text> class="@fieldPicture.Class"</text>
				}@if (!String.IsNullOrWhiteSpace(fieldPicture.Style))
				 {
			 		<text> style="@fieldPicture.Style"</text>
				 }@if (!String.IsNullOrWhiteSpace(fieldPicture.AlternateText))
				  {
			  		<text> alt="@fieldPicture.AlternateText"</text>
				  }@if (!String.IsNullOrWhiteSpace(fieldPicture.Alignment))
				   {
			   		<text> align="@fieldPicture.Alignment"</text>
				   }@if (fieldPicture.Width > 0)
					{
						<text> width="@fieldPicture.Width"</text>
					}@if (fieldPicture.Height > 0)
					 {
				 		<text> height="@fieldPicture.Height"</text>
					 }/>
					 
		}
		else if (!String.IsNullOrWhiteSpace(fieldPicture.Url))
		{
			<a href="@Url.Content(fieldPicture.Url)" class="value">@name</a>
		}
		
	</a>
</div>	

<div class="category-list-element-link">
	@Display(Model.Header)
</div>			

@*
<div style="width: 100%; height: 50px; position: absolute; border:1px solid #f30909; ">
	
	<a style="width: 100%;  text-align: center; position: absolute; bottom: 0; border:1px solid #c9e91c;">TE TEXTsf TEXTsdfdfsfgs EXTsf TEXTsdf</a>

</div>*@


