@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }
    
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();

	var prodFields = Model.ContentItem.Product.ProductBase;
	
}



<article class="content-item @contentTypeClassName">
	
	<div class="topOfProduct">
		
		<div class="leftOftopOfProduct">
			<div>leftOftopOfProduct</div>
			<div class="Prod_MiddleName">@Display(prodFields.MiddleName.Value)</div>
			<div class="Prod_Picture_mid">@Display(Model.zone_Picture_mid)</div>
			<a class="Increase" href="#">Увеличить</a>
			<div class="Price">
				<span class="PriceLabel">Цена:</span>
				<span class="PriceDigits">@Display(prodFields.Price.Value)</span><span class="PriceDot">.-</span><span class="PriceCurrency"> Грн.</span>
			</div>
			<input class="addtocart_button" type="submit" title="Купить" value="Купить" />

		</div>
		

		<div class="rightOftopOfProduct">
			<div>rightOftopOfProduct</div>
		</div>	
		
		
		
		
		
		
		
		
		
		

	</div>
	
	
	
	
	
	
	
	
	
	
	@*
	

	<div class="middleOfProduct">
		middleOfProduct
	</div>
	
	<div class="bottomOfProduct">
		bottomOfProduct
	</div>
	
	
	*@
	
	


	@*<header>
		
		@Display(Model.Header)

		@if (Model.Meta != null) {
			<div class="metadata">
				@Display(Model.Meta)
			</div>
		}
	</header>
	
	

	@Display(Model.Content)
	
	

	@if(Model.Footer != null) {
	 	 
		<footer>
			@Display(Model.Footer)
		</footer>
	 
	 
    }*@
</article>

<div class="oldContent">@Display(Model.Content)</div>
