@model Orchard.Routable.ViewModels.RoutableEditorViewModel
<fieldset>
    @Html.LabelFor(m => m.Title, T("Title"))
    @Html.TextBoxFor(m => m.Title, new { @class = "large text" })
</fieldset>
<fieldset class="permalink">
    <label class="sub" for="Slug">@T("Permalink")<br /><span>@Model.BaseUrl/</span></label>
    <span>@Html.TextBoxFor(m => m.Path, new { @class = "text" })</span>
</fieldset>
