@model NavigationManagementViewModel
@using Orchard.ContentManagement;
@using Orchard.Core.Navigation.Models;
@using Orchard.Core.Navigation.ViewModels;
@using BinaryAnalysis.Navigation.ViewModels;

@{ 
    Layout.Title = T("Navigation").ToString();
    Script.Require("jQueryUI_Draggable");
    Script.Require("jQueryUI_Droppable");
    Script.Require("jQueryUI_Sortable");
    Script.Include("jquery.ui.nestedSortable.js");
    Script.Include("admin-menutree.js");
    Style.Include("admin-menutree.css");
}

@* http://www.ivanferic.com/2011/coding/hierarchical-menu-in-orchard *@

@{
    var hierarchy = MenuItemHierarchyItem.CreateFromModel(Model);
}

@using (Html.BeginFormAntiForgeryPost())
{
    <table class="items">
        <thead>
            <tr>
                <td scope="col">@T("Text")</td>
                <td scope="col">@T("Url")</td>
                <td scope="col">@T("Position")</td>
                <td scope="col">@T("Action")</td>
            </tr>
        </thead>
        <tr>
            <td colspan="4">
                <div class="menu-container">
                @Html.EditorFor(m => hierarchy)
                </div>
                <fieldset class="actions"><button type="submit" class="button">@T("Update All")</button></fieldset>
            </td>
        </tr>
    </table>
}
    
<h2>@T("Add New Item")</h2>
@using (Html.BeginFormAntiForgeryPost(Url.Action("HierarchyCreate"), FormMethod.Post))
{
<table class="menu items">
    <colgroup>
        <col id="AddText" />
        <col id="AddPosition" />
        <col id="AddUrl" />
        <col id="AddActions" />
    </colgroup>
    <tbody>
        <tr>
            <td>
                <label for="MenuText">@T("Text")</label>
                @Html.EditorFor(m => m.NewMenuItem.Text)
            </td>
            <td>
                <label for="MenuPosition">@T("Position")</label>
                @Html.EditorFor(m => m.NewMenuItem.Position)
            </td>
            <td>
                <label for="Url">@T("Url")</label>
                @Html.EditorFor(m => m.NewMenuItem.Url)
            </td>
            <td><button class="add" type="submit">@T("Add")</button></td>
        </tr>
    </tbody>
</table>
}